; EXPLANATION
; main, sidebar, player, misc = background
; card                  = cards, tracklist, dropdowns, input fields background
; shadow                = text on button, tab active & selected row
; subtext               = playlist sidebar text, artist name, album name, tracklist number etc.
; selected row          = selected song & tab
; button-active         = play button, outline on focused input
; button                = all other buttons
; button-disabled       = volume & seekbar background, scrollbar handle, borders, hover

[wallpaper]
text               = {{base06-hex}}
subtext            = {{base06-hex}}
main               = {{base00-hex}}
sidebar            = {{base00-hex}}
player             = {{base00-hex}}
card               = {{base02-hex}}
shadow             = {{base04-hex}}
selected-row       = {{base09-hex}}
button             = {{base09-hex}}
button-active      = {{base09-hex}}
button-disabled    = {{base02-hex}}
tab-active         = {{base09-hex}}
notification       = {{base02-hex}}
notification-error = eb6f92
misc               = {{base00-hex}}
